{% extends "home/base.html" %}
{% block content %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script>
      $(document).ready(function() {
          // Set iframe attributes when the show instance method is called
          $("#videoModal").on("show.bs.modal", function(event) {
              let button = $(event.relatedTarget); // Button that triggered the modal
              let url = button.data("video");      // Extract url from data-video attribute
              $(this).find("iframe").attr({
                  src : url,
                  allow : "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              });
          });
      
          // Remove iframe attributes when the modal has finished being hidden from the user
          $("#videoModal").on("hidden.bs.modal", function() {
              $("#videoModal iframe").removeAttr("src allow");
          });
      });
      </script> 
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for video in videos %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ video.thumbnail_url }}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"></img>
            <h5 class="card-header">{{video.title}}</h5>
            <p>Uploaded by {{ video.channelTitle }} on {{ video.publishTime }}</p>
            <p>{{ video.description }} </p>
            <div class="btn-group">
              <button type="button"  class="btn btn-primary my-2" data-toggle="modal" data-target="#videoModal" data-video="https://www.youtube.com/embed/{{video.url}}">Launch Video</button>
          </div>
          <div class="modal fade" id="videoModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-dark border-dark">
                        <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body bg-dark p-0">
                        <div class="embed-responsive embed-responsive-16by9">
                          <iframe class="embed-responsive-item" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <nav aria-label="...">
    <ul class="pagination pagination-sm">
      {% for num in videos.paginator.page_range %}
        <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
      {% endfor %}
    </ul>
  </nav>





{% endblock content %}




    


